<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.file.manager">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android,permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="Win-Explorer"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
       
        <activity android:name=".Activities.MusicPlayerActivity">
            <intent-filter
                android:icon="@drawable/ic_music"
                android:label="Music">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_music"
                android:label="Music">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PictureViewerActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter
                android:icon="@drawable/ic_image"
                android:label="Win-ImageViewer">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_image"
                android:label="Win-ImageViewer">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter
                android:icon="@drawable/ic_video"
                android:label="Win-VideoPlayer">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_video"
                android:label="Win-VideoPlayer">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SettingsPrefActivity" />
        <activity
            android:name=".Activities.GlobalSearchActivity"
            android:theme="@style/AppThemeDark"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="Win-Explorer"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDark"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_zip"
                android:label="Extract Zip">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_zip"
                android:label="Extract Zip">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter android:label="Save as..">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <service
            android:name=".BackgroundServices.CopyService"
            android:enabled="true" />
        <service
            android:name=".BackgroundServices.ArchiveDService"
            android:enabled="true" />
        <service
            android:name=".BackgroundServices.ArchiveCService"
            android:enabled="true" />
        <service
            android:name=".BackgroundServices.FTPService"
            android:enabled="true" />
        <service
            android:name=".BackgroundServices.MusicPlayerService"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>